<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('home_route') }}">
                    <span data-feather="home"></span>
                    {{_('Dashboard')}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home_messages_route') }}">
                    <span data-feather="voicemail"></span>
                    {{_('Messages')}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="users"></span>
                    {{_('Members')}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home_settings_route') }}">
                    <span data-feather="settings"></span>
                    {{_('Settings')}}
                </a>
            </li>
            
           
        </ul>
    </div>
</nav>