<header class="site-header sticky-top py-1">
  <nav class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2" href="#" aria-label="Product">
      {{ config.app_name }}
    </a>
    <a class="py-2 d-none d-md-inline-block" href="#features">Features</a>
    <a class="py-2 d-none d-md-inline-block" href="#how-it-works">How It Works</a>
    <a class="py-2 d-none d-md-inline-block" href="#faqs">FAQs</a>
    <a class="py-2 d-none d-md-inline-block" href="{{ url_for_security('register') }}">Register</a>
    <a class="py-2 d-none d-md-inline-block" href="{{ url_for_security('login') }}">Sign In</a>
  </nav>
</header>