{% extends "layouts/protected_base.html" %}
{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    {% include 'includes/flash_messages.html' %}
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ _('Dashboard') }}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            
        </div>
    </div>

    <div class="card text-center mt-3 mb-3">
        <div class="card-header bg-secondary text-white">
            {{ _('Call-In Number') }}
        </div>
        <div class="card-body">
            <h2 class="card-title">{{ config.pretty_app_inbound_number }}</h2>
            {% if current_user.has_role('crew_admin') %}
            <p class="card-text">Call this number to listen to or record messages for your Crew.</p>
            {% endif %}
    
        </div>
    </div>
    {% if current_user.has_role('crew_admin') %}
    <div class="card text-center mt-3 mb-3">
        <div class="card-header bg-secondary text-white">
            {{ _('Your Crew Account Details') }}
        </div>
        <div class="card-body">
            <h2 class="card-title">{{ crew.account_pin }}</h2>
            <p class="card-text">This is your Crew's Account PIN. When you call the main {{ config.app_name }} number, enter this PIN to access your Crew's messages.</p>
            
        </div>
    </div>
    

    <div class="card text-center mt-3 mb-3">
        <div class="card-header text-white {% if crew.access_code %}bg-success{% else %}bg-warning{% endif %}">
            {{ _('Account Protection') }}
        </div>
        <div class="card-body">
            <h2 class="card-title">{% if crew.access_code %}{{ _('Protected') }}{% else %}{{ _('Unprotected') }}{% endif %}</h2>
            {% if crew.access_code %}
            <p class="card-text">Your Crew's messages are protected, which means all members must enter an additional Access Code in order to listen to or record messages.</p>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#access_code_modal">
                {{ _('Reveal Code') }}
            </button>
            {% else %}
            <p class="card-text">Your Crew's messages are not protected, which simply means anyone with your Account PIN may listen
                to and record messages. You may add an Access Code to protect your account with an additional input.</p>
                {% if current_user.has_role('crew_admin') %}
                <a href="{{ url_for('home_settings_route') }}" class="btn btn-primary">{{ _('Add Account Protection') }}</a>
                {% else %}
                <small>Account protectection can only be added by your Crew Admin</small>
                {% endif %}
            {% endif %}
            
    
        </div>
    </div>
    {% endif %}
</main>
<div class="modal fade" id="access_code_modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ _('Access Code') }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <p>{{ _('Your Access Code is') }}:</p>
                <h2>{{ crew.access_code }}</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _('Close') }}</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}